:root{
    --iris-color: #4d5ae5;
    --navy-blue-color: #2e2f42;
    --green-color: #31d0aa;
    --body-text-color: #434455;
    --subtle-text-color: #8e8f99;
    --accent-color: #e7e9fc;
    --light-color: #f4f4fd;
    --white-color: #ffffff;
}
html{
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body{
    font-family: 'Roboto', sans-serif;
    color: var(--navy-blue-color);
    margin: 0;
}

h1, h2, h3, p, ul {
    margin: 0;
}

img {
    display: block;
}

@media screen and (max-width:1200px) {
    html,
    body {
        overflow-x: hidden;
    }
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.header {
    border-bottom: 1px solid #E7E9FC;
}

.logo{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--navy-blue-color);

    padding-top: 24px;
    padding-bottom: 24px;
    display: inline-block;
}

.logo > span {
    color: var(--iris-color);
}

.nav-item {
    padding-top: 24px;
}

.nav-item {
    position: relative;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-transform: capitalize;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--navy-blue-color);
    display: block;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-item:hover, .nav-item:focus {
    color: var(--iris-color)
}

.current::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;

    display: block;
    width: 100%;
    height: 4px;
    opacity: 1;

    background-color: #404BBF;
    border-radius: 2px;
}

.contact-item {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;
    font-style: normal;
    color: var(--body-text-color);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-item:hover, .contact-item:focus {
    color:  #4D5AE5;
}

.hero{
    background-color: var(--navy-blue-color);
    text-align: center;
    background-image: 
    linear-gradient(rgba(46,47,66,0.7),
    rgba(46,47,66,0.7)),
    url(../images/hero-back-img.jpg) ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}

.hero-title{
    font-family: 'Roboto';  
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    color: var(--white-color);
    letter-spacing: 0.02em;
}

.button{
    color: var(--white-color);
    background-color: var(--iris-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-family: inherit;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    padding: 16px 32px;
    border: 0;
    align-items: flex-start;
    text-align: center;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
    background-color: #404BBF;    
}

.invisible-title{
    display: none;
}

.subtitle{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--body-text-color);
}

.title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em; 
    text-transform: capitalize;
    color: var(--navy-blue-color);
}

.paragraph {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--body-text-color);
}

.team-section {
    background: var(--light-color);
}

.team {
    display: flex;
}

.works-title, .team-title, .customers-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 72px;
}

.team-title{
    margin-bottom: 72px;
}

.member-description {
    padding-top: 32px;
    padding-bottom: 32px;

    width: 264px;
    display: flex;
    flex-direction: column;
    align-items: center;

    background: var(--white-color);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
}

.member-description > h3 {
    margin-bottom: 8px;
}

.member-description p {
    padding-bottom: 8px;
}

.icons-list {
    display: flex;
    gap: 24px;
}

.social-media-icon {
    width: 40px;
    height: 40px;

    text-decoration: none;
    display: inline-flex;
    background-color: var(--iris-color);
    border-radius: 50%;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-media-icon:hover, .social-media-icon:focus {
    background-color: #404bbf;
}

.icon {
    padding: 12px;
    fill: var(--light-color);
}

.customers-list{
    display: flex;
}

.company-item {
    height: 88px;
    border: 1px solid #8E8F99;
    fill: var(--subtle-text-color);
    border-radius: 4px;
    padding: 16px 32px;
    text-decoration: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    boeder 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.company-item:hover, .company-item:focus {
    fill:#404BBF;
    border: 1px solid #404bbf;
}

.footer{
    background-color: var(--navy-blue-color);
    display: flex;
}

.footer a{
    color:var(--white-color);
    text-decoration: none;
    display: block;
    margin-bottom: 16px;
}

.footer p{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--accent-color);
    width: 264px;
}

.footer-media-title, .footer-subscribe-title {
    color: var(--white-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1,5;
    margin-bottom: 16px;
}

.footer-media-list {
    display: flex;
    gap: 16px;
}

.footer-media-list > li {
    width: 40px;
    height: 40px;
}

.footer-media-icon {
    text-decoration: none;
    display: inline-flex;
    background: rgba(255, 255, 255, 0.1);;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.footer-media-icon .icon {
    width: 40px;
    height: 40px;
    padding: 8px;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-media-icon:hover, .footer-media-icon:focus {
    background-color: #31D0AA;
}

.subscribe-input {
    height: 40px;
    padding-left: 16px;
    color: var(--white-color);
    background-color: var(--navy-blue-color);
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
}

.subscribe-input::placeholder {
    padding: 0;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: rgba(255, 255, 255, 0.6);
}

.subscribe-btn {
    margin-left: 24px;
    padding: 8px 24px;
    background: var(--iris-color);
    border: 0;
    border-radius: 4px;
    color: var(--white-color);
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    align-items: center;
}

.subscribe-icon {
    margin-left: 16px;
}


.backdrop {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    background: rgba(46, 47, 66, 0.4);

    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: visible;
}

.backdrop.is-hidden.modal {
    transform: translate(-50%, -50%) scale(0.9);
}

.modal {
    position: absolute;
    left: 50%;
    top: 50%;

    height: 586px;
    background: #FCFCFC;
    padding-top: 72px;
    padding-bottom: 24px;

    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    margin-bottom: 10px;
    color: var(--navy-blue-color);
}

.modal-form {
    width: 360px;
}

.modal-input {
    width: 100%;
    height: 40px;
    padding: 0;
    padding-left: 38px;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);

    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:hover, .modal-input:focus {
    border: 1px solid var(--iris-color);
}

.modal-input::placeholder {
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
    color: rgba(117, 117, 117, 0.5);
}

.comment {
    height: 120px;
    padding-top: 8px;
    padding-left: 16px;
}

.modal-submit-btn {
    color: var(--white-color);
    background-color: var(--iris-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

    font-family: inherit;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;

    min-width: 169px;
    margin-top: 24px;
    margin-left: 95px;
    padding: 16px 32px;
    border: 0;
    text-align: center;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field {
    position: relative;
    margin-bottom: 8px;
}

.form-icon {
    display: block;
    position: absolute;
    bottom: 14px;
    left: 19px;
    fill: var(--navy-blue-color);
}

.form-field:hover .form-icon {
    fill: var(--iris-color);
}

.form-field:focus .form-icon {
    fill: var(--iris-color);
}

.form-label {
    display: inline-block;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
    color: var(--subtle-text-color);
    margin-bottom: 4px;
}

textarea {
    resize: none;
}

.close-modal {
    cursor: pointer;
    background-color: var(--accent-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;

    position: absolute;
    right: 24px;
    top: 24px;
}

.close-modal:focus, .close-modal:hover {
    background-color: #404BBF;
}

.close-modal:hover .close-icon {
    background-color: #404BBF;
    fill: #ffffff;
}

.close-modal:focus .close-icon {
    background-color: #404BBF;
    fill: #ffffff;
}

.close-icon {
    width: 8px;
    height: 8px;
    fill: #000;
}

.check-flex {
    display: flex;
    margin-top: 16px;
}

.checkbox {
    padding-left: 24px;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
    color: #757575;
}

.checkbox a {
    color: var(--iris-color);
}

.checkbox-input {
    appearance: none;
    position: absolute;
}

.checkbox-icon {
    position: absolute;
    margin-left: -24px;
    width: 16px;
    height: 16px;
    background-image: url(../images/Checkbox.svg);
}

.checkbox-input:checked + .checkbox-icon {
    background-image: url(../images/checkbox-active.svg);
}

@media screen and (max-width: 767px) {
    .nav-list, .contact  {
        display: none;
    }

    .header {
        align-items: center;
        position: relative;
    }

    .main-nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .hero{
        padding-bottom: 112px;
    }

    .hero-title {
        font-size: 36px;
        line-height: 1.11;
        text-align: center;
        text-transform: capitalize;
    }

    .feature-list{
        flex-direction: column;
        gap: 72px;
    }

    .title {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.11;
        text-align: center;
    }

    .team {
        flex-direction: column;
        gap: 72px;
    }

    .team li {
        margin-left: auto;
        margin-right: auto;
    }

    .customers-list {
        justify-content: space-evenly;
        gap: 72px 16px;
    }

    .company-item{
        width: 190px;
    }

    .footer {
        flex-direction: column;
        text-align: center;
    }

    .footer p {
        display: inline-block;
    }

    .media {
        margin-top: 72px;
    }

    .footer-media-list {
        display: flex;
        justify-content: center;
    }

    .subscribe {
        margin-top: 72px;
    }

    .subscribe-input {
        margin-bottom: 16px;
        width: 100%;
    }

    .subscribe-btn {
        margin-left: auto;
        margin-right: auto;
    }

    .modal {
        padding-left: 16px;
        padding-right: 16px;
    }

    .menu .link {
        padding: 10px;
        color: inherit;
        text-decoration: none;
    }
      
    .menu .link:hover,
    .menu .link:focus {
        text-decoration: underline;
    }
    
    .menu-toggle {
        height: 24px;
        width: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        
        margin: 0;
        padding: 0;
        background-color: transparent;
        cursor: pointer;
        border: none;
        border-radius: 50%;
        outline: none;
    }

    .menu-toggle:hover,
    .menu-toggle:focus {
        background-color: rgba(0, 0, 0, 0.1);
    }

    .menu-container {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding-top: 80px;
        padding-left: 40px;
        background-color: var(--white-color);
        z-index: 999;

        display: flex;
        flex-direction: column;
        justify-content: space-between;

        transform: translateX(100%);
        transition: transform 250ms ease-in-out;
    }

    .menu-container.is-open {
        transform: translateX(0);
    }

    .menu-container .menu-toggle {
        cursor: pointer;
        background-color: var(--accent-color);
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 50%;
        width: 24px;
        height: 24px;
        padding: 0;

        position: absolute;
        top: 24px;
        right: 24px;
    }

    .mobile-menu {
        padding: 0;
        margin: 0;
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    .contacts-mobile {
        margin-top: 24px;
    }

    .contact-menu {
        margin-bottom: 48px;
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    .contact-menu .contact-item{
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        color: var(--body-text-color);
    }

    .contact-menu .contact-item-first{
        font-weight: 600;
        font-size: 36px;
        line-height: 1.11;
        color: var(--iris-color);
        text-decoration: none;
    }

    .mobile-menu .link {
        display: block;
        color: var(--navy-blue-color);
        text-decoration: none;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;/* identical to box height, or 111% */
        letter-spacing: 0.02em;
        text-transform: capitalize;
    }

    .mobile-menu .link.current {
        color: var(--iris-color);
    }

    .menu-container .icons-list {
        justify-content: space-evenly;
        margin-bottom: 40px;
        margin-left: -40px;
    }
}

@media screen and (min-width:480px), screen and (max-width:767px) {
    .container {
        max-width: 480px;
    }
}

@media screen and (min-width:768px){
    .main-nav {
        display: flex;
        align-items: center;
    }
    
    .site-nav {
        display: flex;
    }
    
    .nav-list {
        display: flex;
        gap: 40px;
    }
    
    .contact-nav {
        margin-left: auto;
    }
    
    .contact {
        display: flex;
    }

    .footer .container {
        display: flex;
    }

    .subscribe-form {
        display: flex;
        gap: 24px;
    }

    .subscribe-input {
        width: 264px;
    }

    .modal {
        padding-left: 24px;
        padding-right: 24px;
    }

    .menu-toggle, .menu-container {
        display: none;
    }
}

@media screen and (min-width: 768px) and (max-width:1199px){
    .container {
        max-width: 768px;
    }

    .contact{
        flex-direction: column;
        gap: 4px;
    }

    .logo {
        margin-right: 123px;
    }
    
    .nav-item {
        padding-bottom: 22px;
    }

    .hero{
        padding-bottom: 108px;
    }

    .title {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
    }

    .feature-list {
        gap: 72px 24px;
        flex-wrap: wrap;
    }

    .feature-item {
        max-width: calc((100% - 24px)/2);
    }

    .team{
        gap: 64px 24px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .customers-list {
        gap: 72px 24px;
        justify-content: center;
    }

    .footer .container {
        flex-wrap: wrap;
        gap: 72px 24px;
        padding-left: 108px;
        justify-content: start;
    }

    .footer-descr {
        min-width: 264px;
    }

    .subscribe {
        width: 453px;
    }

}

@media screen and (max-width:1199px) {
    .hero{
        padding-top: 112px;
    }

    .button {
        margin-top: 40px;
    }

    .feature-list {
        display: flex;
    }

    .section {
        padding-top: 96px;
        padding-bottom: 96px;
    }

    .works {
        display: none;
    }

    .customers-list {
        flex-wrap: wrap;
    }

    .modal {
        overflow-y: scroll;
    }
}

@media screen and (min-width:1200px) {
    .container {
        max-width: 1158px;
    }

    .section {
        padding-top: 120px;
        padding-bottom: 120px;
    }
    
    .site-nav > a {
        margin-right: 76px;
    }
    
    .nav-list {
        display: flex;
        gap: 40px;
    }
    
    .nav-item {
        padding-bottom: 28px;
    }

    .contact-nav {
        margin-left: auto;
    }
    
    .contact {
        display: flex;
        gap: 40px;
    }

    .hero {
        padding-top: 188px;
        padding-bottom: 188px;
    }

    .button {
        margin-top: 48px;
    }

    .feature-list {
        display: flex;
        gap: 24px;
    }
    
    .feature-list p {
        width: 264px;
    }    

    .feature-item::before {
        content: "";
        display: block;
        height: 112px;
        background: var(--light-color);
        border-radius: 4px;
        margin-bottom: 8px;
    }
    
    .feature-item:nth-child(1)::before {
        background-image: url(../images/satelite.svg);
        background-repeat: no-repeat;
        background-position: center;
    }
    
    .feature-item:nth-child(2)::before {
        background-image: url(../images/clock.svg);
        background-repeat: no-repeat;
        background-position: center;
    }
    
    .feature-item:nth-child(3)::before {
        background-image: url(../images/diagram.svg);
        background-repeat: no-repeat;
        background-position: center;
    }
    
    .feature-item:nth-child(4)::before {
        background-image: url(../images/astronaut.svg);
        background-repeat: no-repeat;
        background-position: center;
    }

    .works {
        padding-top: 0;
    }
    
    .works-title, .team-title, .customers-title {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        text-align: center;
    }
    
    .device-list {
        margin-top: 72px;
        display: flex;
        gap: 24px;
    }

    .team {
        gap: 24px;
    }

    .customers-list {
        gap: 24px;
    }

    .footer{
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .media {
        margin-left: 120px;
        margin-right: 80px;
    }
}

@media screen and (max-width:479px) {
    .hero {
        background-image:         
        linear-gradient(rgba(46,47,66,0.7),
        rgba(46,47,66,0.7)),
        url(../images/hero-bckg-320.jpg) ;
    }
}

@media screen and (max-width:479px),
screen and (min-device-pixel-ratio: 2), 
screen and (min-resolution: 2dppx) {
    .hero {
        background-image:         
        linear-gradient(rgba(46,47,66,0.7),
        rgba(46,47,66,0.7)),
        url(../images/hero-bckg-320-2x.jpg) ;
    }
}

@media screen and (min-width:480px) {
    .hero {
        background-image:         
        linear-gradient(rgba(46,47,66,0.7),
        rgba(46,47,66,0.7)),
        url(../images/hero-bckg-480.jpg) ;
    }
}

@media screen and (min-width:480px), 
screen and (min-device-pixel-ratio: 2), 
screen and (min-resolution: 2dppx) {
    .hero {
        background-image:         
        linear-gradient(rgba(46,47,66,0.7),
        rgba(46,47,66,0.7)),
        url(../images/hero-bckg-480-2x.jpg) ;
    }
}

@media screen and (min-width: 769px),
screen and (min-device-pixel-ratio: 2), 
screen and (min-resolution: 2dppx) {
    .hero {
        background-image: 
        linear-gradient(rgba(46,47,66,0.7),
        rgba(46,47,66,0.7)),
        url(../images/hero-background-2x.jpg) ;
    }
}